<html>
<head>
  <title>BONAFIDE CERTIFICATE REQUISITION LETTER</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    p {
      margin: 5px 0;
    }

    b {
      font-weight: bold;
    }

    center {
      display: block;
      text-align: center;
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 5px;
      font-size: 12px;
    }
  </style>
</head>
<body>
  <div class="container">
    <p><b><center>BONAFIDE CERTIFICATE REQUISITION LETTER</center></b></p><br>
    <p>Date: {{date}}</p><br><br>
    <p>From</p>
    <p>Name: {{name}}</p>
    <p>Roll No: {{regisNo}}</p>
    <p>Branch: {{branch}}</p>
    <p>Department: {{dept}}</p>
    <p>Mobile No: {{mobile}}</p><br><br>
    <p>To</p>
    <p>The Dean</p>
    <p>College of Engineering, Guindy</p>
    <p>Anna University, Chennai - 600 025.</p><br>
    <p><b>Through the Head of the Department</b></p><br>
    <p>Sir/Madam,</p>
    <p>Sub: CEG - Bonafide Certificate - {{purpose}} - requested - reg.</p>
    <p>***</p>
    <p>I am studying Engineering degree programme, ____ semester, {{Branch}} (Branch), {{dept}} (Department) in CEG Campus. I request you to kindly issue to me a bonafide certificate for the following purpose:</p><br>
    <p>{{purpose}}</p><br>
    <p>II Semester onwards student bonafide may be obtained from KDC online website using by student login ID.</p>
    <p>* Not eligible for Post Matric Scholarship Students (PMSS)</p>
    <p>** Not eligible for SC / ST / SCA and Differently Abled (DA) students</p><br>
    <p>Thanking You,</p>
    <p>Yours obediently,</p>
    <p>(Signature of the Student)</p>
  </div>
  <div class="footer">
    <p><center>Office Use Only</center></p>
    <p style="float: left;">Forwarded and recommended</p>
    
    <p style="float: right;">Class Advisor Head of the Department (with Seal) (with Seal)</p>
  </div>
</body>
</html>